// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "bootstrap-responsive";

input, select, button, textarea { box-sizing: border-box; }
input[type=text] { height: 30px; }

span.field { display: inline-block; }